*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.centered-container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

nav{
    background-color: #ff6900;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
}

/* nav content */

nav #nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 0;
}
nav #category a{
    text-decoration: none;

    color: white;
    font-size: 0.7em;
    font-weight: bold;
}

nav #category a:hover{
    text-decoration: underline;
}


nav #logo {
    width: 100px;
}

nav #logo img{
    width: 100%;
}

nav #icons img{
    width: 12px;
}