*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.centered-container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

nav{
    background-color: #ff6900;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);

    position: fixed;
    top:0;
    left: 0;

    width: 100%;
    z-index: 1;
}

/* nav content */

nav #nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 0;
}
nav #category a{
    text-decoration: none;

    color: white;
    font-size: 0.7em;
    font-weight: bold;
}

nav #category a:hover{
    text-decoration: underline;
}


nav #logo {
    width: 100px;
}

nav #logo img{
    width: 100%;
}

nav #icons img{
    width: 12px;
}

nav #icons img:hover{
    cursor: pointer;
}

/* main */

main{
    padding: 100px 0;
}

main #main-inner{
    max-height: 1200px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:15px;
}

main #main-inner > div{
    width: 33%;
    height: 550px;
}

/* main images */
main #main-inner .images{
    width: 100%;

    position: relative;
}

main #main-inner .images img{
    width: 100%;
}

main #main-inner .images .second-image{
    position: absolute;
    top:0;
    left: 0;

    display: none;
}

main #main-inner .images:hover .second-image{
    display: inline-block;
}


/* main captions */
main #main-inner .caption span{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

main #main-inner .caption .brand{
    font-size: 0.7em;
}

main #main-inner .caption .item-name{
    text-transform: uppercase;
    font-weight: bold;
}
main #main-inner .caption .value {
    display: flex;
    gap: 5px;

}
main #main-inner .caption .discount{
    color: red;
    font-weight: bold;
    font-size: 0.8em;

}

main #main-inner .caption .price{
    color: grey;
    text-decoration: line-through;
    font-size: 0.8em;
    display: inline-block;
}

main #main-inner .tags{
    position: absolute;
    bottom: 25px;

    display: flex;
    gap: 5px;
    
}

main #main-inner .tags .discount-tag{
    background-color: red;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px;
}

main #main-inner .tags .sostenibility-tag{
    background-color: green;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px;
}

main #main-inner .like{
    position: absolute;

    top: 15px;
    right: 0;

    background-color: #ffffff;
    padding: 10px;
    font-size: 1.5em;
}




/* BONUS */
main #main-inner .like:hover{
    color: red;

}




/* footer */

footer{
    background-color: #1a1a1a;
    color: white;
}

footer #footer-inner{
    display: flex;
    justify-content: space-between;

    padding: 20px 0;
}

/* links */
footer #footer-links{
    display: flex;
    gap: 8px;

    padding: 10px 0;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 0.7em;
}

footer a:hover{
    text-decoration: underline;

}

footer #social{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
footer #social #find-us{
    font-size: 0.6em;
}

footer #social #footer-icons{
    display: flex;
    justify-content:space-between ;
    align-items: center;

    width: 100px;
}

footer #social #footer-icons img{
    max-width: 15px;
}

footer #social #footer-icons img:hover{
    cursor: pointer;
}
